<footer id="footer">
    <section>
      <ul class="actions small">
<li><a href="https://cenepsicoeducacion.teachable.com/" class="button special small">Cursos</a></li>
</ul>
  </section>
    <section>
      <h3>Social</h3>
      <ul class="icons alt">
        <li><a href="https://www.youtube.com/c/VerbalizacionesPsicologia" class="icon fa-youtube" rel="nofollow"><span class="label">Youtube</span></a></li>
        <li><a href="https://facebook.com/Verbalizaciones" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
      </ul>
    </section>
  </section>
</footer>
<!-- Copyright -->
<div id="copyright">
  <ul><li>&copy; Ve Al Psicologo 2023</li><li> Verbalizaciones <a href="https://www.youtube.com/c/VerbalizacionesPsicologia" rel="nofollow">en Youtube</a></li><li>Psic Miguel Coria <a href="https://www.linkedin.com/in/psicmiguelcoriag">Linkedin</a> </li></ul>
</div>
